<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tambah Keluarga</title>
</head>

<body>
	<div th:replace="fragments/header"></div>

	<div class="container">
		<div class="container" style='margin-top: 20px'>
			<h3>Tambah Keluarga</h3>
			<form class="form-group" action="/keluarga/tambah" method="post"
				th:object="${keluarga}">
				<div class="row" style="margin-left: 15px">
					<h4 for="alamat">Alamat</h4>
					<input class="form-control col-sm-6" type="text" name="alamat"
						th:field="*{alamat}" required="true"></input>
				</div>
				<div class="row" style="margin-left: 15px">
					<h4 for="RT">RT</h4>
					<input class="form-control col-sm-6" type="text" name="RT"
						th:field="*{RT}" required="true"></input>
				</div>
				<div class="row" style="margin-left: 15px">
					<h4 for="RW">RW</h4>
					<input class="form-control col-sm-6" type="text" name="RW"
						th:field="*{RW}" required="true"></input>
				</div>
				<div class="row" style="margin-left: 15px">
					<h4 for="kelurahan">Kelurahan</h4>
					<select class="form-control" name="kl" required="true"
						th:field="*{id_kelurahan}">
						<option selected="true" disabled="disabled" value="0"></option>
						<option th:each="kelurahan,iterationStatus: ${kelurahan_list}"
							th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}">Kelurahan</option>
					</select>
				</div>
				<div class="row" style="margin-left: 15px">
					<h4 for="kecamatan">Kecamatan</h4>
					<select class="form-control" name="kc" required="true"
						th:field="*{id_kecamatan}">
						<option selected="true" disabled="disabled" value="0"></option>
						<option th:each="kecamatan,iterationStatus: ${kecamatan_list}"
							th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}">kecamatan</option>
					</select>
				</div>
				<div class="row" style="margin-left: 15px">
					<h4 for="kota">Kota</h4>
					<select class="form-control" name="kt" required="true"
						th:field="*{id_kota}">
						<option selected="true" disabled="disabled" value="0"></option>
						<option th:each="kota,iterationStatus: ${kota_list}"
							th:value="${kota.id}" th:text="${kota.nama_kota}">Kota</option>
					</select>
				</div>
				<div></div>
				<br /> <br />
				<button class="btn btn-primary" name="action"
					style="margin-left: 15px" type="submit">Simpan</button>
			</form>

		</div>
	</div>
	<br />
	<div th:replace="fragments/footer"></div>
</body>
</html>