<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Data Penduduk</title>
</head>

<body>
	<div th:replace="fragments/header"></div>

	<div class="container">

		<h3 style="margin-bottom: 20px; margin-left: 20px"  
			th:text="'Lihat Data Penduduk - ' + ${penduduk.nik}"></h3>
		<div id="container" class="col-lg-6">

			<table class="table">
				<tr>
					<td>Nomor</td>
					<td>:</td>
					<td th:text="${penduduk.nik}"></td>
				</tr>
				<tr>
					<td>Nama</td>
					<td>:</td>
					<td th:text="${penduduk.nama}"></td>
				</tr>
				<tr>
					<td>Tempat/Tanggal lahir</td>
					<td>:</td>
					<td
						th:text="${penduduk.tempat_lahir} + ', ' + ${penduduk.tanggal_lahir}"></td>
				</tr>
				<tr>
					<td>Alamat</td>
					<td>:</td>
					<td th:text="${keluarga.alamat}"></td>
				</tr>
				<tr>
					<td>RT/RW</td>
					<td>:</td>
					<td th:text="${keluarga.RT} + '/' + ${keluarga.RW}"></td>
				</tr>
				<tr>
					<td>Kelurahan/Desa</td>
					<td>:</td>
					<td th:text="${alamat.nama_kelurahan}"></td>
				</tr>
				<tr>
					<td>Kacamatan</td>
					<td>:</td>
					<td th:text="${alamat.nama_kecamatan}"></td>
				</tr>
				<tr>
					<td>Kota</td>
					<td>:</td>
					<td th:text="${alamat.nama_kota}"></td>
				</tr>
				<tr>
					<td>Jenis Kelamin</td>
					<td>:</td>
					<td th:text="${penduduk.jenis_kelamin} == 0 ? 'Pria' : 'Wanita'"></td>
				</tr>
				<tr>
					<td>Golongan Darah</td>
					<td>:</td>
					<td th:text="${penduduk.golongan_darah}"></td>
				</tr>
				<tr>
					<td>Agama</td>
					<td>:</td>
					<td th:text="${penduduk.agama}"></td>
				</tr>
				<tr>
					<td>Status Perkawinan</td>
					<td>:</td>
					<td th:text="${penduduk.status_perkawinan}"></td>
				</tr>
				<tr>
					<td>Pekerjaan</td>
					<td>:</td>
					<td th:text="${penduduk.pekerjaan}"></td>
				</tr>
				<tr>
					<td>Kewarganegaraan</td>
					<td>:</td>
					<td th:text="${penduduk.is_wni} == 1 ? 'WNI' : 'WNA'"></td>
				</tr>
				<tr>
					<td>Status Kematian</td>
					<td>:</td>
					<td th:text="${penduduk.is_wafat} == 0 ? 'Hidup' : 'Wafat'"></td>
				</tr>
				<tr>
					<td th:if="${penduduk.is_wafat} == 0"></td>
					<td></td>
					<td><form action="/penduduk/mati" method="post">
							<input type="hidden" name="nik" th:value="${penduduk.nik}"></input>
							<button class="btn btn-danger" style="margin-top: 10px"
								type="submit">Non Aktifkan</button>
						</form></td>
				</tr>
			</table>
		</div>
	</div>
	<br />
	<br />
	<div th:replace="fragments/footer"></div>
</body>
</html>